<div class="container-fluid">
  <h4 class="bluegrey">About US</h4>
  <p>We are stationed Thai Guide. We sell  available tours to interested individuals.</p>
  <p> Most of the tours you find listed here are based from or within The Kingdom of Thailand.</p>
  <p>Once you book a discount trip with us, we make all the neccessary arrangements for your trip</p>
  <p>
    Glo Tour Thailand is an inbound travel agency and tour operator that focuses in all regions of Thailand and Asia. We began offering travel services in 2010 in our Pattaya office and have gradually grown over the years. Today, Glo Tour Thailand also operates an office from Bangkok and also conducts its own tours which it has been doing since 2012. We also work in partnership with other high quality tour operators by marketing their tours when we consider them to match our philosophy.
  </p>
  <p>
Customers can trust that we are directly involved in all the details of the tours we offer; Glo Tour Thailand is not another generic tour broker that sells anything and everything. Glo Tour Thailand continues to grow in importance in the Thailand tourism landscape, in which it is now regarded as an important contributor.
  </p>
<p>
  Glo Tour Thailand operates its very own local tours and treks that have been created with the quality of the experience for the traveler in mind. Customers can expect to be cared for and escorted by an attentive Glo Tour Thailand guide team made up of a careful driver and an engaging tour guide. One very important aspect that touches all our tours is that our drivers are chosen based on their safety record; we NEVER tolerate bad driving habits on the part on our team members.
</p><p>
Our staff directly arranges all the tours directly operated by Glo Tour Thailand. All Glo Tour Thailand operated tours are clearly indicated as such on our website, as are the ones operated by our partner companies. Glo Tour Thailand’s business practices are based on one simple principle: we want you, the customer, to feel like you’ve had a truly enriching and satisfying experience when taking part in any of our tours. Glo Tour Thailand currently operates its tours from 3 main hubs: Bangkok and Pattaya, Phuket.
</p>

<p>
  Our staff is comprised of qualified individuals of both Thai and other nationalities. Our guide team, all licensed through TAT (Tourism Authority of Thailand), currently consists of 50 members working in Bangkok, Phuket and Pattaya, while our offices are run with the help of 13 permanent staff members. Glo Tour Thailand is fully bonded and licensed with TAT to sell our services online as well as to accept payments. We are one of the very few Pattaya or Bangkok tour operators which enjoys this privilege. It’s important to remember that your purchase is not protected if you purchase a travel service through a tour operator or agency which is not licensed with TAT. No worries with Glo Tour Thailand…. Your payment is protected!
 
</p>
 <p class="m30">..</p>
</div>
