<div class=" container-fluid">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" color="primary" style="background-color: #616161; color:#fff">
 
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">
    <img src="./assets/logo.png"  class="d-inline-block align-top" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About Us</a>
      </li>

    </ul>
    <ul class="nav float-right">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-phone" aria-hidden="true"></i> 01 803849273</a></li>
            <span *ngIf="auth.authenticated">
            <li class="nav-item"><a class="nav-link" routerLink="/profile/{{ auth.currentUserId }}/{{ auth.currentUser.displayName }}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> My Account</a></li>
            </span>
          <li *ngIf="!auth.authenticated" class="nav-item"><a class="nav-link" routerLink="/login"><i class="fa fa-user-circle-o" aria-hidden="true"></i> My Account</a></li>
            <li class="nav-item"><a class="nav-link" href="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a></li>
            
          </ul>
  </div>
</nav>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
  <footer class="page-footer grey darken-4" style="background-color: #616161;">
          <div class="container ">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"><img src="./assets/logo.png" alt="Glotourguider"></h5>
                <p class="silver-text text-lighten-4">
                  Start planning your tour now. With our experienced guides, you are in for a good ride!
                </p>
                <p class="silver-text">WWW.GLOTOURGUIDER.COM</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="silver-text">About GLOTOURGUIDER.COM</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" routerLink="about">About us</a></li>
                  <li><a class="grey-text text-lighten-3" routerLink="contact">Contact us</a></li>
                  <li><a class="grey-text text-lighten-3" routerLink="termsofuse">Terms of use</a></li>
                  <li><a class="grey-text text-lighten-3" routerLink="booking/refund">Refund</a></li>
                  <li><a class="grey-text text-lighten-3" routerLink="privacy">Privacy and security</a></li>
                </ul>
              <div class="securecheckout">
                <h4 style="font-style: italic;">Checkout Securely with the best payment gateways!</h4>
              <div>
                <img  src="./assets/img/securecheckout.png" alt="secure checkout">
              </div>

              </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-3">
            <div class="container">
            © 2014 Copyright GLOTOURGUIDER.COM Reserved
            <a class="grey-text text-lighten-4 right" href="#!">English</a>
            </div>
          </div>
        </footer>