<div class="container-fluid">
 <h4 class="bluegrey">Refund Policy</h4>
 <h5 class="bluegrey">What are our cancellation policies?</h5>

<p> We advice our customers to plan and book their tours Atleast 3 weeks in advanced. If you decide to cancel a booking 3 weeks before tour day, we will do a complete refund minus service fees such as transaction fees. If cancellation is done , less than 14 days before tour, we can't quarantee terms of refund. It will depend on the kind of tour. Contact us in such a case and we will find a way to work out the terms of refund. </p>
<p>
  <p> We reserve the right to  change the terms on which we do a refund. Make sure you read and understand our <a routerLink="/termsofuse">terms and conditions</a> of service.</p>

  <h5 class="red-text">Cases where a refund is impossible</h5>
  <p> 5 days before tour, no refund will be possible. This is due to the fact that, by this time, we already have all the logistics for your tour in place. We can't afford such lost in case you cancel your tour within this time frame.</p>
  <p class="m30"> .</p>

</div>
