<div class="container-fluid">
   <h4 class="bluegrey">Contact Us</h4>
    <h5>ADDRESS</h5>
    <p>Glo Tour Thailand
     Bang Lamung, Muang Pattaya, 20150
    </p>
   <h5>Email:</h5>
    <p>glotoursthailand@gmail.com</p>
    <h5>Telephone:</h5>
    <p>Tel: +66 0835269387</p>
    <p>Mobile: +66 0835269387</p>

    <h5 class="bluegrey">Do you have any questions about our tours?</h5>
    <p>Call Glo Tour Thailand for any tour questions. Our staffs speak both Thai and English.</p>
    <p> We will work with competence to assist you and assure you of our services.</p>
    <p class="m30">.</p>
</div>